<app-header></app-header>

<div class="container">
    <h1>Login</h1>
    <div class="box" [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>Mobile Number</mat-label>
            <input matInput type="number" formControlName="mobileNumber">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">Login</button>
    </div>

</div>

<app-footer></app-footer>