<app-header [isLogoutBtn]="true"></app-header>
<div class="container">
    <h1>Patient Details</h1>

    <div class="details">
        <div class="data" *ngIf="patientData?.firstname">
            First Name <div class="value">{{ patientData.firstname }}</div> 
        </div>
        <div class="data" *ngIf="patientData?.lastname">
            Last Name <div class="value">{{ patientData.lastname }}</div> 
        </div>
        <div class="data" *ngIf="patientData?.zipcode">
            zip Code <div class="value">{{ patientData.zipcode }}</div> 
        </div>
        <div class="data" *ngIf="patientData?.mobile">
            Mobile Number <div class="value">{{ patientData.mobile }}</div> 
        </div>
    </div>
    <button mat-fab style="background-color: #e88421;" aria-label="Add Patient" class="fab-button" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<app-footer></app-footer>